
 <!-- This section will render components in a slider form -->
 <section class="page_body" style="text-align: center;">
   <h1 class="heighten">Projects</h1>
  <!-- Display a slider componet  -->
  {{#carousel-container transitionInterval=200 as |ui controls|}}
    <!-- Buttons outside of the loop -->
    <button id="leftBtn" onclick={{controls.previous}}>&#x3c;</button>
    <button id="rightBtn" onclick={{controls.next}}>&#x3e;</button>
    
    <!-- Slider container -->
    {{#each this.items as |item|}}
      {{#ui.item}}
       <ProjectCanvas @projectTitle="{{item}}" @bgColor="{{item}}"/>
      {{/ui.item}}
      
    {{/each}}

  {{/carousel-container}}

  {{slider-page}}

<!-- TESTING A CANVAS FOR A PROJECT SLIDER -->


 </section>
{{yield}}